.todo-item-container {
    gap: 10px;
    margin-left: 41%;
    margin-bottom: 8px;
    display: flex;
    width: 300px;
}

.todo-item-wrapper {
    border: 1px solid #8d8d8d;
    padding: 2px 10px;
    border-radius: 5px;
    flex: fit-content;
}
